# Ignore everything by default, then add specific elements
*

# Package
!flowers/

# uv dependencies
!pyproject.toml
!uv.lock
!.python-version

# Documentation
!images/
!docs/
!README.md

# Dockerfile
!Dockerfile

# Makefile
!Makefile

# Licence
!LICENSE

# pre-commit files
!.pre-commit-config.yaml

# Context files
!.dockerignore
!.gitignore

# GitHub files
!.github/
!.github/ISSUE_TEMPLATE/
!.github/ISSUE_TEMPLATE/*.yaml
!.github/workflows/
!.github/workflows/*.yaml
!.github/pull_request_template.md

# Commit message
!.gitmessage
